
form{
    margin-top: 20px;
    font-weight: bold;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(3, 3, 3);

}
input, textarea{
    display: block;
    width: 75%;
    padding: 20px;
    border-radius: 5px;
    color: black;
    

}