@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

.parrafo {
  font-family: Georgia, 'Times New Roman', Times, serif;
    
  color: black;

  background-color: black solid;
  font-size: 30px;
  text-decoration: none;


}
 



.titulo {
    background-color: gainsboro;
    color: rgb(146, 44, 44);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  } 

  .tiendaTitulo{
     font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;  
    color: black;
    font-family: Arial, Helvetica, sans-serif

  }
   


